.merchi-cart-header {
  display: flex;
  align-items: center;
  padding: 1.5rem;
}
.merchi-cart-header h5 {
  margin-bottom: 0;
  line-height: 1.5;
  font-size: 20px;
  margin-top: 0px;
}
.merchi-cart-footer {
  display: flex;
  padding: 1rem;
}
.merchi-cart-body {
  display: block;
  min-height: 450px;
}
.merchi-cart-title {
  margin-bottom: 2rem;
}
.merchi-loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--bs-height-md, 500px);
}
.merchi-loading-container-text {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
.merchi-payment-gateway-inactive {
  height: 300px;
  background: url('../assets/merchi-swipe-outline.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 276px 215px;
  margin-top: 100px;
}
.merchi-tab-panel {
  display: none;
}
.merchi-cart-tab-content {
  padding: 15px;
}
.merchi-cart-tab-content > .merchi-cart-tab-panel {
  display: none;
}
.merchi-cart-tab-content > .active {
  display: block;
}
.merchi-cart-total-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
.merchi-cart-total-table {
  width: 100%;
  margin-bottom: 20px;
  max-width: 400px;
  margin-bottom: 0px;
}
.merchi-cart-clear-container {
  display: block;
  text-align: center;
}
.merchi-cart-clear-text {
  font-size: 16px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.merchi-cart-item-table-head {
  border: none;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-transform: uppercase;
  border-bottom: 0px !important;
}
.merchi-cart-item-table-head-right {
  border: none;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  text-transform: uppercase;
  text-align: right;
  border-bottom: 0px !important;
}
.merchi-cart-success-message {
  font-size: 16px;
  padding-bottom: 4rem;
  padding-top: 4rem;
}

/* Merchi checkout */
.merchi-row {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .merchi-row {
    flex-direction: row;
  }

  .merchi-column {
    width: 50%;
    padding-right: 10px;
  }

  .merchi-column:last-child {
    padding-left: 10px;
    padding-right: 0;
  }
}

.merchi-collapse {
  display: none;
}

.merchi-collapse.show {
  display: block;
}

.merchi-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.merchi-nav-link {
  cursor: pointer;
  display: block;
  border-radius: 0.25rem;
  padding: 10px 15px;
  width: 100%;
  border: 0px;
}

.merchi-cart-client-info-list {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.merchi-nav-link:hover, .merchi-nav-link:focus {
  text-decoration: none;
}

.merchi-nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

.merchi-nav-tabs {}

.merchi-nav-tabs .merchi-nav-item {
  margin-bottom: -1px;
}
button.merchi-nav-link {
  background: #fff;
}

.merchi-nav-tabs .merchi-nav-link {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.merchi-nav-tabs .merchi-nav-link:hover, .merchi-nav-tabs .merchi-nav-link:focus {
  border-color: #e9ecef #e9ecef #dee2e6;
}

.merchi-nav-tabs .merchi-nav-link.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.merchi-nav-tabs .merchi-nav-link.active,
.merchi-nav-tabs .merchi-nav-item.show .merchi-nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.merchi-nav-pills .merchi-nav-link {
  border-radius: 0.25rem;
}

.merchi-nav-pills .merchi-nav-link.active,
.merchi-nav-pills .show > .merchi-nav-link {
  color: #fff;
  background-color: #303dbf;
}

.merchi-nav-fill .merchi-nav-item {
  flex: 1 1 auto;
  text-align: center;
}
.merchi-no-cart-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 450px;
}

.merchi-btn-close {
  background: transparent;
  border: 0px;
  cursor: pointer;
  color: inherit;
  margin-left: auto;
}

.merchi-loading-template {
  height: 500px;
  background: url('../assets/merchi-monster-loader.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 150px 150px;
}

/* Badge.css */

.merchi-cart-badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.merchi-cart-modal-alert {
  align-items: center;
  display: flex;
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 4px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}

.merchi-form-group {
  text-align: left;
}
.merchi-form-group-button {
  text-align: center;
  margin-bottom: 15px;
}

.merchi-content-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.merchi-discount-group-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.merchi-cart-stripe-input-container {
  display: flex;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  gap: 1rem !important;
}

.merchi-cart-stripe-input-container img {
  margin: 0 auto;
}

.merchi-cart-stripe-input-error {
  text-align: center;
  color: #a94442;
}

.merchi-cart-total-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}
